.ui{
    &.segment{
        .field {
            span {
                display: block;
                font-size: .8em;
                padding: 10px;
                background: #f6eab3;
                margin: 0 5px;
            }
        }
    }
} 
