@{
    ViewBag.Title = "Front end";
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

<!-- ~/Views/Shared/Blocks/Banner/_FullBanner.cshtml -->
@Html.Action("FullBanner", "Banner")

<div class="ui container margin bottom large">
            <div class="ui divider"></div>
            <div class="ui grid">
                <div class="row one column">
                    <div class="column">
                        <div class="ui grid middle aligned center aligned">
                            <div class="row">
                                <div class="ten wide computer sixteen wide tablet sixteen wide mobile column">
                                    <form action="" class="ui large form" data-ajax="true" data-ajax-failure="onFailure" data-ajax-method="POST" data-ajax-success="onSuccess" id="formContact" method="post"><input name="__RequestVerificationToken" type="hidden" value="dvztdvhkSDb802ykgFpGRUYXYniyCUQPCGSUO_rS8DooeO2S0oKD9JtDn4U_mVuQv0Bj2lXOrql2hCQwO0fXvmIP8LHUS2I3i88E1JXle5A1">                <div class="ui segment">
                                                <div class="ui grid  very relaxed stackable middle aligned grid left aligned">
                                                    <div class="row one column">
                                                        <div class="column">
                                                            <div class="field required">
                                                                <label>Nome</label>
                                                                <div class="ui left icon input">
                                                                    <i class="user icon"></i>
                                                                    <input type="text" maxlength="100" name="Nome" id="nome" placeholder="Nome" value="" data-validate="name">
                                                                    <span class="nome_r"></span>
                                                                </div>
                                                            </div>
                                                            <div class="field required">
                                                                <label>E-mail</label>
                                                                <div class="ui left icon input">
                                                                    <i class="mail icon"></i>
                                                                    <input type="text" maxlength="100" id="email" name="Email" placeholder="E-mail" value="" data-validate="email">
                                                                    <span class="email_r"></span>
                                                                </div>
                                                            </div>                         
                                                            <div class="div two fields">                                  
                                                                <div class="field required">
                                                                    <label>Assunto</label>
                                                                    <div class="ui left icon input">
                                                                        <i class="mail icon"></i>
                                                                        <input type="text" maxlength="100" id="assunto" name="Assunto" placeholder="Assunto" value="" data-validate="assunto">
                                                                        <span class="assunto_r"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="field required">
                                                                    <label>Telefone</label>
                                                                    <div class="ui left icon input">
                                                                        <i class="phone icon"></i>
                                                                        <input type="text" id="telefone" name="telefone" placeholder="(00) 00000-0000" class="masked mask_phone" data-validate="phone">
                                                                        <span class="telefone_r"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="field required">
                                                                <label>Mensagem</label>
                                                                <textarea maxlength="6000" id="mensagem" name="Mensagem"></textarea>
                                                                <span class="mensagem_r"></span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="column text right">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="column">
                                                            <a href="/Home" class="ui animated button large basic left floated form_refresh">
                                                                <div class="visible content">Voltar</div>
                                                                <div class="hidden content">
                                                                    <i class="arrow left icon"></i>
                                                                </div>
                                                            </a>
                                                            <button id="submitContact" type="submit" class="ui animated button large submit primary right floated continuar" tabindex="0">
                                                                <div class="visible content">Enviar</div>
                                                                <div class="hidden content">
                                                                    <i class="send icon"></i>
                                                                </div>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </form>        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>